<form [formGroup]="contactForm">
  <button (click)='deleteContact()' class ="cancelBtn" type="button">Delete Contact</button>
  <label for="first-name">First Name</label>
  <div><input type="text" name="first-name" id="first-name" formControlName="firstNameInput" [(ngModel)]="firstName"></div>
  <label for="last-name">Last Name</label>
  <div><input type="text" name="last-name" id="last-name" formControlName="lastNameInput" [(ngModel)]="lastName"></div>
  <label for="phone">Phone Number</label>
  <div><input type="tel" name="phone" id="phone" formControlName="phoneInput" [(ngModel)]="phone"></div>
  <label for="email">E-mail</label>
  <div><input type="email" name="email" id="email" formControlName="emailInput" [(ngModel)]="email"></div>
  <button (click)='saveChanges()' class ="saveBtn" type="submit" [disabled]="!contactForm.valid">Save Changes</button>
  <button (click)='cancelChanges()' class ="cancelBtn" type="button">Cancel Changes</button>
</form>
