/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
}

body {
  max-width: 1000px;
  margin: auto;
}

section {
  color: steelblue;
}

button {
  color: white;
  border-radius: 5px;
  border: none;
  margin: 1em 0.5em;
  padding: 0.5em;
}

form {
  margin: 2em 0;
  overflow: auto;
}

form > * {
  margin: 0.5em 1em;
  display: block;
}

form input {
  width: 100%;
}

form button.saveBtn {
  float: left;
  background-color: forestgreen;
}

form button.cancelBtn {
  float: right;
  background-color: firebrick;
}

form button:disabled {
  background-color: darkgrey;
}

@media (min-width: 500px) {
  .row {
    display: flex;
  }

  .one-column {
    flex: 100%;
  }

  .two-column {
    flex: 50%;
  }
}
