/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
}

body {
  max-width: 1000px;
  margin: auto;
}

section {
  color: steelblue;
}

button {
  color: white;
  border-radius: 5px;
  border: none;
  margin: 1em 0.5em;
  padding: 0.5em;
}
